<div class="header">



  <div class="header-logo">
  farmer_produce
  </div>

  <div class="btn-border"> 
    <a href="#" class="btn-border-farmer">Farmer</a>
    <a href="#" class="btn-border-customer">Customer</a>
  </div>

</div>
